@import url("rotate.css");

/* 문서 전역 스타일 */
body {
  background-color: #0f0f0f;
}
/* 헤더 섹션 전역 스타일 */
.header__container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__nav {
  margin-left: auto;
}

/* 헤더 메뉴 검색창 스타일 */
.search-bar__typing-space {
  position: relative;
  margin-right: -15px;
  overflow: hidden;
}

.search-bar__typing-space input {
  box-sizing: border-box;
  background-color: #292929;
  transition: width 0.5s;
  height: 40px;
  outline: none;
  padding-left: 15px;
  width: 0;
  border-radius: 50px 0 0 50px;
}

.search-bar__typing-space .placeholder {
  display: none;
  transition: all 1s;
  position: absolute;
  left: 7%;
  top: 40px;
  color: rgba(255, 255, 255, 0.7);
}

.search-bar__circle,
.circle-icon {
  border: 1px solid #e3ff59;
  padding: 10px;
  border-radius: 50% 50%;
  background-color: #e3ff59;
  z-index: 2;
}

/* 헤더 메뉴 hover시 underline 효과 */
.underline {
  opacity: 0;
  width: 100%;
  height: 6px;
  background-image: url("../src/underline.svg");
  background-position: bottom;
  background-size: contain;
}

/* 섹션 - COMPLIATIONS */
.section__hover-text {
  height: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.section__hover-text > .container {
  max-width: 1200px;
  margin: 40px auto;
}

/* 섹션 카테고리 - 전역 설정*/
.section__category {
  max-width: 1200px;
  margin: 0 auto;
}
/* 섹션 카테고리 - border 효과 */
.category .item-box {
  position: relative;
}

.category .item-box .border-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  z-index: -1;
  transtion: all 1s;
}

.category .item-box.is-active .border-box {
  animation: rotateGradient 3s infinite linear;
}

:root {
  --inner-box-margin: 5px;
}

.category .item-box .inner-box {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0f0f0f;
  border-radius: 25px;
  transition: all 0.5s;
}

.category .item-box.is-active .inner-box {
  margin: var(--inner-box-margin);
  width: calc(100% - 2 * (var(--inner-box-margin)));
  height: calc(100% - 2 * (var(--inner-box-margin)));
}

/* 섹션 카테고리 - 이미지 확대 및 블러 효과 */
.category .item-box .content-image {
  position: relative;
}

.category .item-box .content-image::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(50deg, purple, blueviolet, Magenta, yellow);
  opacity: 0.4;
  z-index: 1;
  transition: opacity 0.5s;
}

.category .item-box .content-image img {
  transition: transform 0.5s;
}

.category .item-box.is-active .content-image::before {
  opacity: 0;
}

.category .item-box.is-active .content-image img {
  transform: scale(1.2);
}

/* 섹션 카테고리 - 화살표 색 반전 효과 */
.category .item-box .circle-icon {
  position: absolute;
  right: 20px;
}

.category .item-box.is-active .circle-icon:hover {
  transition: background-color 0.5s;
  background-color: transparent;
}

.category .item-box circle-icon path {
  transition: stroke 0.5s;
}

.category .item-box.is-active .circle-icon:hover path {
  stroke: #e3ff59;
}

/* 섹션 카테고리 - 밑줄 효과 */
.category .item-box .content-title span,
.category .item-box .content-footer span {
  background: linear-gradient(to bottom, transparent 95%, #e3ff59 5%);
  background-size: 0% 100%;
  transition: all 0.5s;
  background-repeat: no-repeat;
}

.category .item-box.is-active .content-footer span:hover {
  background-size: 100% 100%;
}

.category .item-box.is-active .content-title span:hover {
  background-size: 100% 100%;
  color: #e3ff59;
}

/* 페이징 효과 */
.paging .counting-box li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.paging .counting-box li:last-child {
  width: 100px;
}

.paging .counting-box li:hover,
.paging .counting-box li.is-active {
  background-color: #e3ff59;
  color: black;
  transition: all 0.5s;
}

.paging .counting-box li:hover.none-active {
  background-color: transparent;
}

/* subscribe 입력 박스 */
.section__hover-text.subscribe input {
  border:#e3ff59
  box-sizing: border-box;
  background-color: #292929;
  transition: width 0.5s;
  outline:none;
  height: 50px;
  padding-left: 15px;
  width: 400px;
  border-radius: 25px;
  font-weight:400;
}

.section__hover-text.subscribe button:hover{
  transition:all .5s;
  color:#e3ff59;
  background-color:transparent;
}

/* 푸터 전역 설정 */
.footer__container{
  max-width: 1200px;
  margin: 0 auto;
}

.footer .sms-box li:hover{
  background-color:#e3ff59;
  transition:background-color .5s;
}

.footer .sms-box li svg{
  transition:all .5s;
}

.footer .sms-box li:hover svg{
  
  fill:black;
}