/* 문서 전역 스타일 */
body {
  background-color: #0f0f0f;
}
/* 헤더 섹션 전역 스타일 */
.header__container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__nav {
  margin-left: auto;
}

/* 헤더 메뉴 검색창 스타일 */
.search-bar__typing-space {
  position: relative;
  margin-right: -15px;
  overflow: hidden;
}

.search-bar__typing-space input {
  box-sizing: border-box;
  background-color: #292929;
  transition: width 0.5s;
  height: 40px;
  outline: none;
  padding-left: 15px;
  width: 0;
  border-radius: 50px 0 0 50px;
}

.search-bar__typing-space .placeholder {
  display: none;
  transition: all 1s;
  position: absolute;
  left: 7%;
  top: 40px;
  color: rgba(255, 255, 255, 0.7);
}

.search-bar__circle {
  border: 1px solid #e3ff59;
  padding: 10px;
  border-radius: 50% 50%;
  background-color: #e3ff59;
  z-index: 2;
}

/* 헤더 메뉴 hover시 underline 효과 */
.underline {
  opacity: 0;
  width: 100%;
  height: 6px;
  background-image: url("../src/underline.svg");
  background-position: bottom;
  background-size: contain;
}

/* 섹션 - COMPLIATIONS */
.compliations {
  height: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.compliations__container {
  max-width: 1200px;
  margin: 40px auto;
}
